html {
  background: #F9F9F9 url(logo.svg) no-repeat bottom right;
  background-position: 130% 10em;
  background-size: auto 100%;
  border-top: 6px solid #293462;
  box-sizing: border-box;
}

.reveal .slides {
  color: #293462;
  font-family: Cantarell, sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.2;
}

*[contenteditable=true] {
  outline: none;
}

::selection {
  background: #29346233;
}

img {
  max-height: 50vh;
  max-width: 50vw;
}

.reveal .slides a {
  color: #293462;
}

.reveal .slides b,
.reveal .slides strong {
  font-weight: 500;
}

.reveal .slides code {
  font-family: Mononoki, monospace;
}

.reveal .slides pre {
  margin: auto;
  width: 90%;
}

.reveal .slides pre code {
  border-radius: 5px;
  font-size: 0.8em;
  line-height: 1.1;
  max-height: none;
  overflow: hidden;
  padding: 0 1em;
  text-align: left;
}

.reveal .slides ul li {
  list-style: square;
}

.reveal .slides h1,
.reveal .slides h2 {
  color: #293462;
  font-weight: 500;
  hyphens: none;
  margin: 0.5em 0;
}

.reveal .slides h1 {
  bookmark-level: none;
  line-height: 1;
  font-size: 3.2em;
}

.reveal .slides h2 {
  line-height: 1;
  font-size: 2.4em;
}

.reveal .slides h3 {
  font-size: 1.6em;
  font-weight: 400;
  hyphens: none;
  margin: 0.5em 0;
}

.reveal .slides h4 {
  font-size: 1.25em;
  font-weight: 400;
  hyphens: none;
  text-decoration: underline;
}

.reveal .slides p {
  margin-bottom: 1em;
  margin-top: 1em;
}

.reveal .slides ul,
.reveal .slides ol {
  display: inline-block;
  margin: 0;
  text-align: left;
}

.reveal .slides ul + ul,
.reveal .slides ul + ol {
  margin-top: 1em;
}

.reveal .slides table {
  font-size: 0.75em;
  line-height: 1;
  margin: 1.5em auto;
}

.reveal .slides table td,
.reveal .slides table th {
  padding: 0.35em;
  text-align: center;
  vertical-align: middle;
}

.reveal .slides table th {
  background-color: #6661;
  font-weight: normal;
  font-variant: small-caps;
}

.reveal .progress {
  background: transparent;
  height: 6px;
}

.reveal .progress span {
  background: #293462;
}

@media weasyprint {
  html {
    background-position: 150% 8cm;
  }
}
